<div class="container m-5">
    <div class="card">
        <h3 class="card-header">
            You're logged in with angular Jwt
        </h3>
        <div class="card-body">
            <h4 class="card-title">User from sucure api endpoint with {{userLogin.id}}</h4>
            <div>{{userLogin.bankName}} {{userLogin.bankAccountNo}} {{userLogin.bankAccountName}} {{userLogin.balance}}
            </div>
            <!-- <div *ngFor="let user of users;index as i">
                {{i+1}}. {{user.id}} {{user.bankName}} {{user.bankAccountNo}} {{user.bankAccountName}} {{user.balance}}
            </div> -->
        </div>
    </div>
</div>